@page "/ViewProducts"
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products Redstore</title>
    <link rel="stylesheet" href="\css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <!-- feature product -->
    <div class="small-container">
        <div class="row row-2">
            <h2>All product</h2>
            <select>
                <option>Default shorting</option>
                <option>short by price</option>
                <option>short by popularity</option>
                <option>short by rating</option>
                <option>short by sale</option>
            </select>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="\images\product-1.jpg" alt="">
                <h4>Red printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$ 50.00</p>

            </div>

            <div class="col-4">
                <img src="\images\product-2.jpg" alt="">
                <h4>Black shoes</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$ 50.00</p>

            </div>

            <div class="col-4">
                <img src="\images\product-3.jpg" alt="">
                <h4>Black Trouser</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$ 50.00</p>

            </div>

            <div class="col-4">
                <img src="\images\product-4.jpg" alt="">
                <h4>Blue printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$ 50.00</p>
            </div>
            <div class="row">
                <div class="col-4">
                    <img src="\images\product-5.jpg" alt="">
                    <h4>Cream white snakers </h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

                <div class="col-4">
                    <img src="\images\product-6.jpg" alt="">
                    <h4>Black printed T-shirt</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

                <div class="col-4">
                    <img src="\images\product-7.jpg" alt="">
                    <h4>HRX printed Socks</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

                <div class="col-4">
                    <img src="\images\product-8.jpg" alt="">
                    <h4>Rolex watch </h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

            </div>
            <div class="row">
                <div class="col-4">
                    <img src="\images\product-9.jpg" alt="">
                    <h4>Rolex watch</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

                <div class="col-4">
                    <img src="\images\product-10.jpg" alt="">
                    <h4>jogging shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

                <div class="col-4">
                    <img src="\images\product-11.jpg" alt="">
                    <h4>Light weight shoes</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

                <div class="col-4">
                    <img src="\images\product-12.jpg" alt="">
                    <h4>Blanded trouser</h4>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>$ 50.00</p>

                </div>

            </div>
            <div class="page-btn">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>&#8594;</span>
            </div>

        </div>
        <!-- Latest product -->
        <!--------- offer -------->


    </div>


    <!-- js for toggle -->
    <script>
        var menuitems = document.getElementById("menuitems");

        menuitems.style.maxHeight = "0px"

        function menutoggle() {
            if (menuitems.style.maxHeight == "0px") {
                menuitems.style.maxHeight = "200px"
            }
            else {
                menuitems.style.maxHeight = "0px"
            }

        }
    </script>

</body>

</html>
@code {

}
