<!DOCTYPE html>
<html>

<head>
    <title>Jinnah Shop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="\css\CSS\index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
     <!-- footer -->
    <div class="footer">
        <div class="GetInTouch" >
            <p class="absolute left-1000px">Get in touch</p>
            <ul>
                <li><i class="fa-solid fa-phone"></i>+92 3107923290</li>
                <li><i class="fa-regular fa-envelope"></i>sale@jinnahenterprise.com</li>

            </ul>
        </div>
        <div class="About">
            <p>About</p>
            <ul>
                <li>Contact Us</li>
                <li>Blogs</li>
                <li>Our Story</li>

            </ul>
        </div>
        <div class="Infomation">
            <p>Infomation</p>
            <ul>
                <li>Shipping Policy</li>
                <li>Returns & Exchange Policy</li>
                <li>Our Story</li>
                <li>Privacy Policy</li>
                <li>FAQs</li>
                <li>Store Locations</li>
                <li>Terms of Service</li>
                <li>Refund policy</li>
            </ul>
        </div>
        <div class="Newsletter-Signup">
            <p>Newsletter-Signup</p>
            <input><button>Subscribe</button>
        </div>
    </div>

    <!-- footer-content -->

    <footer class="">
        <p>&copy; 2023 JinnahEnterprise All Rights Reserved</p>
    </footer>

    <!-- <a><i class="fa-brands fa-whatsapp"></i></a> -->
    <WhatsappChat></WhatsappChat>

    </body>
    </html>
@code {

}
